#contenedor{
	width: 80%;
	height: 600px;
	border: solid 1px grey;
	margin: auto;
	position: relative;
}

	#contenedor div{
		width: 200px;
		height: 200px;
		position: absolute;
	}

.caja1{
	background-color: red;
	top: 50px;
	left: 20px;
	z-index: 4;
}

.caja2{
	background-color: green;
	top: 80px;
	left: 150px;
	z-index: 3;
}

.caja3{
	background-color: violet;
	top: 20px;
	left: 80px;
	z-index: -3;
}